<div class="jumbotron">
<h1>Welcome to My App!</h1>
<p>Click Here to <%= link_to "Sign Up", "http://google.com", class: "btn btn-primary btn-lg"%> or <%= link_to "Login", "http://google.com", class: "btn btn-primary btn-lg"%></p>
</div>